.App {
  text-align: center;
  background-image: "url(" + "bakerybackground.jpeg" + ")";
  height: 1000px;
  background-size: cover;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
